    <form method="POST" id="form" name="form" >
      {% csrf_token %}
        <div class="form-inline">
          
            <span style ="padding-left:40%;">
            <label for="first_name" class="sr-only">First Name</label>
             <input type="text" class="form-control" id="first_name" placeholder="First Name" name="first_name" required>
              </span>
        </div>
        <br><br>
            
        <div class="form-inline">
          
            <span style ="padding-left:40%;"> 
            <label for="last_name" class="sr-only">Last Name</label>
             <input type="text" class="form-control" id="last_name" placeholder="Last Name" name="last_name" required>
         </span>    
        </div>
      
        <br><br>
        <div class="form-inline">
          
            <span style ="padding-left:40%;">
            <label for="username" class="sr-only">First Name</label>
             <input type="text" class="form-control" id="username" placeholder="Username" name="username" required>
              </span>
              </div>
              <br><br>
              <div class="form-inline">
          
                  <span style ="padding-left:40%;"> 
                  <label for="email" class="sr-only">First Name</label>
                  <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
                    </span>
              </div>
              <br><br>

                    <div class="form-inline">
          
                        <span style ="padding-left:40%;"> 
                        <label for="password1" class="sr-only">First Name</label>
                        <input type="password" class="form-control" id="password1" placeholder="Password" name="password1" required>
                              
            </span>  
            </div>
      
            <br><br>
            <div class="form-inline">
            <span style ="padding-left:40%;"> <button type="submit" name="submit" class="btn btn-primary">Submit</button> </span>
           </div>
          </form>

 {% endblock content %}