{% extends "partials/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}



{% block header %}
{% include "partials/header.html" %}
{% endblock header %}

{% block navarea %}

{% include "partials/navarea.html" %}

{% endblock navarea %}

{% block news %}
{% include "partials/news.html" %}
{% endblock news %}

{% block content %}
<div class="col-lg-12 col-md-12">
    <div class="">
        <div class="single_post_content">
        <h2><span>{{category}}</span></h2>
        <ul class="business_catgnav">
        {% for news in category_list %}
            <li>
            <figure class="bsbig_fig wow fadeInDown"> <a href="{{ news.get_absolute_url }}" class="featured_img"> <img alt="" src="{{ news.cover_image.url }}"> <span class="overlay"></span> </a>
                <figcaption> <a href="pages/single_page.html">{{ news.title }}</a> </figcaption>
                <p>{{news.story}}</p>
            </figure>
            </li>
        {% endfor %}
        </ul>
        </div>
    </div>
</div>
{% endblock content %}



{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}



{% block script %}
{% include "partials/script.html" %}
{% endblock script %}