{% extends "partials/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block header %}
{% include "partials/header.html" %}
{% endblock header %}

{% block navarea %}
{% include "partials/navarea.html" %}
{% endblock navarea %}

{% block news_section %}
{% include "partials/news_section.html" %}
{% endblock news_section %}



{% block content %}
{{}}
{% endblock content %}

{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}

{% block script %}
{% include "partials/script.html" %}
{% endblock script %}