{% extends "partials/layout.html" %}
{% load crispy_forms_tags %}

{% block header %}
{% include "partials/header.html" %}
{% endblock header %}

{% block navarea %}

{% include "partials/navarea.html" %}

{% endblock navarea %}

{% block news %}
{% include "partials/news.html" %}
{% endblock news %}

{% block content %}
<div class='col-lg-3 col-md-3'>
</div>
<div class='col-lg-6 col-md-6'>
    <p>Do you really want to delete this post </p>
<form method="POST" enctype="multipart/form-data">
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
{{ form|crispy }}
<button type="submit" class="btn btn-dark">Yes</button>

</form>
<a href="{% url 'home' %}"><button type="button" class="btn btn-dark">No</button></a>
</div>
<div  class='col-lg-3 col-md-3'>
</div>
{% endblock content %}



{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}



{% block script %}
{% include "partials/script.html" %}
{% endblock script %}